/* ===== RECIPE CONTENTS =====*/

/* Carousel */
.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel img {
      width: 90%;
      height: 250px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 10px;
      border-radius: 20px;
  }
  
  .carousel p {
      font-size: 16px;
      color: #555;
      text-align: center;
  }
  
  /* Recipes Container */
  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 50px;
    width: 90%;
    height: 100%;
    margin: 0 auto; /* Centers the grid horizontally */
  }
  
  .recipe-card {
    overflow: hidden;
  }
  
  .recipe-card img {
    width: 100%;
    height: 170px;             
    object-fit: cover;       
    object-position: center;   
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .recipe-info {
    margin: 0px;
  }
  
  .recipe-info h5 {
    margin: 0;
  }
  
  .recipe-info p {
    margin: 0;
  }
  
  .tags {
    display: flex;
    margin: 5px 0;
    align-items: center;
  }
  
  .tags svg {
    margin-right: 5px;
  }
  
  .porsi {
    background-color: #E6A4B4;  
    padding: 5px 10px 5px 5px;        
    border-radius: 15px;
    margin-right: 5px;
    text-align: center;        
    display: flex;
    align-items: center;      
    justify-content: center;
  }
  
  .waktu {
    background-color: #BACD92;  
    padding: 5px 10px 5px 5px;          
    border-radius: 15px;
    text-align: center;        
    display: flex;
    align-items: center;      
    justify-content: center;
  }
  
  
  