/* ===== RECIPE CONTENTS =====*/

/* Carousel */
.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    position: relative; /* Make it a positioned container for the absolute positioning of the image */
    height: 100%; /* Ensure the carousel item takes up the full height */
  }
  
  .carousel-item img {
    position: absolute; /* Position the image absolutely within the .carousel-item */
    top: 50%; /* Move it 50% from the top */
    left: 50%; /* Move it 50% from the left */
    transform: translate(-50%, -50%); /* Offset it by 50% of its own width and height */
    width: 90%; /* Adjust as necessary to ensure it covers the width */
    height: 90%; /* Ensure the image takes up the full height of the carousel item */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 20px;
  }
  



  
  /* Recipes Container */
  .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 50px;
    width: 90%;
    height: 100%;
    margin: 0 auto; /* Centers the grid horizontally */
  }
  
  .recipe-card {
    overflow: hidden;
  }
  
  .recipe-card img {
    width: 100%;
    height: 170px;             
    object-fit: cover;       
    object-position: center;   
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .recipe-info {
    margin: 0px;
  }
  
  .recipe-info h5 {
    margin: 0;
  }
  
  .recipe-info p {
    margin: 0;
  }
  
  .tags {
    display: flex;
    margin: 5px 0;
    align-items: center;
  }
  
  .tags svg {
    margin-right: 5px;
  }
  
  .porsi {
    background-color: #E6A4B4;  
    padding: 5px 10px 5px 5px;        
    border-radius: 15px;
    margin-right: 5px;
    text-align: center;        
    display: flex;
    align-items: center;      
    justify-content: center;
  }
  
  .waktu {
    background-color: #BACD92;  
    padding: 5px 10px 5px 5px;          
    border-radius: 15px;
    text-align: center;        
    display: flex;
    align-items: center;      
    justify-content: center;
  }
  
  
  