/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures consistent box model */
  font-family: 'Assistant', sans-serif;
}

.content {
  max-height: 100%; /* Ensure full height usage */
  width: 100%;
  background-color: #ffff; /* Page background */
}

.greeting span{
  color: #405A3F;
}


