body {
    background-color: #f0f0f0; /* Light gray background */
    height: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Posisikan di tengah secara horizontal */
    align-items: center;    /* Posisikan di tengah secara vertikal */
    height: 80vh;      /* Pastikan tinggi elemen mencakup seluruh layar */
    width: 100%;            /* Lebar penuh */
    background-color: #ffffff; /* Pastikan background putih */
    text-align: center;
    top: 50%; /* Posisikan elemen 50% dari atas layar */
    left: 50%; /* Posisikan elemen 50% dari kiri layar */
}

  
  .header {
    background-color: #287428; /* Dark green for the header */
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    /* Style your logo appropriately */
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
  }
  
  .empty-message {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .empty-message .cta {
    color: #287428; /* Green for the call to action */
    text-decoration: none;
  }

  .title {
    display: flex;
    justify-content: center; /* Menempatkan konten di tengah secara horizontal */
    align-items: center; /* Menempatkan konten di tengah secara vertikal */
    margin: 10px 0;
    width: 100%; /* Pastikan elemen mengambil lebar penuh */
    gap: 10px;
    padding: 30px;
}

.containerLike {
    display: flex;
    justify-content: center; /* Posisikan di tengah secara horizontal */
    align-items: center;    /* Posisikan di tengah secara vertikal */
    height: 80vh;      /* Pastikan tinggi elemen mencakup seluruh layar */
    width: 100%;            /* Lebar penuh */
    background-color: #ffffff; /* Pastikan background putih */
    text-align: center;
    top: 50%; /* Posisikan elemen 50% dari atas layar */
    left: 50%; /* Posisikan elemen 50% dari kiri layar */
    margin: 30px 0;
    padding-bottom: 40px;
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.heart-icon {
    float: center;
  }

.title-text {
    font-size: 25px; /* Ukuran font untuk elemen h1 */
    font-weight: bold;
    shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bayangan */
}

.titleLike{
    display: flex;
    justify-content: center; /* Menempatkan konten di tengah secara horizontal */
    align-items: center; /* Menempatkan konten di tengah secara vertikal */
    margin: 10px 0;
    width: 100%; /* Pastikan elemen mengambil lebar penuh */
    gap: 10px;
    padding: 15px;
}

.btnlike {
    background-color: #3c763d;
    color: #fff;
    padding: 9px 15px; /* Atur jarak di dalam tombol */
    border: none;
    border-radius: 28px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bayangan */
    text-align: center; /* Pastikan teks di tengah */
    margin: 50px 0;
}

/* Recipes Container */
.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  column-gap: 50px;
  row-gap: 20px;
  width: 90%;
  height: 100%;
  margin: 0 auto; 
  margin-bottom: 20px;
  text-align: start;
}

.recipe-card {
  overflow: hidden;
}

.recipe-card:hover {
  color: #405A3F;
}

.recipe-card img {
  width: 100%;
  height: 170px;             
  object-fit: cover;       
  object-position: center;   
  border-bottom: 1px solid #ddd;
  border-radius: 15px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 170px;             
  object-fit: cover;       
  object-position: center;   
  border-bottom: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
}

.image-wrapper img{
transition: transform 0.3s ease;
}

.image-wrapper img:hover{
transform: scale(1.1);
}

.like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(255, 255, 255); /* Slightly transparent */
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  color: red;
}

.like-button:hover {
  background-color: rgba(255, 255, 255, 1);
}


.recipe-info {
  margin: 0px;
}

.recipe-info h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.recipe-info p {
  margin: 0;
  font-size: 13px;
}

.tags {
  display: flex;
  margin: 10px 0 5px 0;
  align-items: center;
  font-size: 13px;
}

.tags svg {
  margin-right: 5px;
}

.porsi {
  background-color: #E6A4B4;  
  padding: 3px 7px 3px 3px;        
  border-radius: 15px;
  margin-right: 5px;
  text-align: center;        
  display: flex;
}

.waktu {
  background-color: #BACD92;  
  padding: 3px 6px 3px 3px;          
  border-radius: 15px;
  text-align: center;        
  display: flex;
}






