

/* ===== HEADER =====*/

/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    background-color: #405A3F; /* Background navbar */
    box-sizing: border-box;
    padding: 10px 20px; /* Jarak dalam */
    position: fixed; /* Tetap di atas */
    top: 0;
    width: 100%; /* Lebar penuh */
    height: 80px;
    z-index: 1000; /* Supaya di atas elemen lain */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    flex-wrap: nowrap; 
    overflow: hidden;
  }
  
  /* Logo */
  .navbar-logo{
    width: 50px; /* Ukuran lingkaran */
    height: 50px; /* Ukuran lingkaran */
    border-radius: 50%; /* Membuatnya menjadi lingkaran */
    background-color: #fff; /* Warna latar belakang lingkaran */
    display: flex;
    justify-content: center;
    align-items: center; /* Menempatkan logo di tengah lingkaran */
    margin-right: 10px;
    margin-left: 20px;
  }
  
  /* Menu */
  .navbar-menu {
    list-style: none; /* Hilangkan bullet point */
    display: flex;
    margin: 10px; /* Hilangkan margin */
    padding: 0; /* Hilangkan padding */
  }
  
  /* Menu Items */
  .navbar-menu li {
    margin: 0 15px; /* Jarak antar item */
    font-weight: bold;
  }
  
  /* Link Styles */
  .navbar-menu a {
    text-decoration: none; /* Hilangkan garis bawah */
    color: white; /* Warna teks */
    font-size: 16px;
    transition: color 0.3s ease; /* Animasi hover */
  }
  
  /* Hover Effect */
  .navbar-menu a:hover {
    color: #75A47F; /* Warna saat hover */
  }
  
  .right-section {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 30px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    margin-right: 10px;
  }
  
  /* Contoh styling untuk ikon */
  .search-icon, .profile-icon {
  font-size: 20px;  /* Ukuran ikon */
  color: white;     /* Warna ikon */
  }
  
  .search-icon:hover, .profile-icon:hover {
  color: #75A47F;   /* Warna ikon saat hover */
  }
  
  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .navbar-menu {
      flex-direction: column; /* Menu jadi vertikal */
      align-items: center;
      display: none; /* Default tidak terlihat */
    }
  
    .navbar-menu.active {
      display: flex; /* Tampilkan saat aktif */
    }
  }