 /* Recipes Container */

.body {
  height: 100%;
}

 .search-page {
    width: 100%;
    height: 100vh;
 }
 .title {
    font-weight: bold;
    font-size: 25px;
    padding: 30px 20px 20px 20px;
    width: 90%;
    margin: 0 auto; 
 }

 .title-text{
    width: 95%;
    display: inline-block;
    text-align: center;
 }

 .title-text span{
    color: #E35778;
 }

 .back-btn{
    left: 0;
    display: inline-block;
    /* padding-left: 30px; */
 }

 .recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    column-gap: 50px;
    row-gap: 20px;
    width: 90%;
    height: 100%;
    margin: 0 auto; 
    margin-bottom: 20px;
  }
  
  .recipe-card {
    overflow: hidden;
  }

  .recipe-card:hover {
    color: #405A3F;
  }
  
  .recipe-card img {
    width: 100%;
    height: 170px;             
    object-fit: cover;       
    object-position: center;   
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 170px;             
    object-fit: cover;       
    object-position: center;   
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
}

.image-wrapper img{
  transition: transform 0.3s ease;
  }
  
  .image-wrapper img:hover{
  transform: scale(1.1);
  }

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255); /* Slightly transparent */
    border: none;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    color: red;
}

.like-button:hover {
    background-color: rgba(255, 255, 255, 1);
}


  .recipe-info {
    margin: 0px;
  }
  
  .recipe-info h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .recipe-info p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
  }
  
  .tags {
    display: flex;
    margin: 10px 0 5px 0;
    align-items: center;
    font-size: 13px;
  }
  
  .tags img {
    width: 20px;
    height: 20px;
    margin: 0 3px 0 3px;
    fill: #F6664E !important;
  }
  
  .porsi {
    padding: 3px 7px 3px 3px;        
    border-radius: 15px;
    margin-right: 5px;
    text-align: center;        
    display: flex;
    border: 2px solid #F6664E;
    color: #F6664E;
  }
  
  .waktu {
    padding: 3px 6px 3px 3px;          
    border-radius: 15px;
    text-align: center;        
    display: flex;
    border: 2px solid #F6664E;
    color: #F6664E;
  }
  
  
  