.container-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-side {
  position: fixed;
  background-color: #405A3F;
  color: #101010;
  padding: 40px;
  flex: 1; /* Mengatur fleksibilitas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Mengisi penuh tinggi viewport */
  width: 45%; /* Pastikan lebar penuh */
  font-weight: bold;
  font-size: 30px;
  box-sizing: border-box; /* Termasuk padding dalam width dan height */
  z-index: 40%; /* Sesuaikan nilai z-index sesuai kebutuhan */
  max-height: 100vh;
}


.right-side {
  position: absolute;
  background-color: white;
  right: 0;
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Konten mulai dari atas */
  align-items: center;
  height: 100vh; /* Batasi tinggi maksimum ke viewport */
  width: 50%;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.142);
  border-radius: 30px 0 0 30px;
  overflow-y: auto; /* Scroll otomatis jika konten melebihi tinggi */
}


.judul{
  font-weight: bold;
}

.img-wrapper {
    width: 100%;
    height: 250px;
    overflow: hidden; /* Ensures the image doesn’t overflow */
    position: relative;
    border-radius: 15%;
    display: flex;
    justify-content: center;
}

.img-wrapper img {
    width: 400px; /* Makes the image responsive */
    height: 250px; /* Maintains the image's aspect ratio */
    object-fit: cover; /* Ensures the image fills the wrapper without stretching */
    display: block; 
    object-fit: cover;
}

.recipe-info {
    margin: 0px;
  }
  
  .recipe-info h5 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
  }
  
  .recipe-info p {
    margin: 0;
    font-size: 13px;
  }
  
  .tags {
    display: flex;
    margin: 10px 0 5px 0;
    align-items: center;
    font-size: 13px;
  }
  
  .tags svg {
    margin-right: 5px;
  }
  
  .porsi {
    background-color: #E6A4B4;  
    padding: 3px 7px 3px 3px;        
    border-radius: 15px;
    margin-right: 5px;
    text-align: center;        
    display: flex;
  }
  
  .waktu {
    background-color: #BACD92;  
    padding: 3px 6px 3px 3px;          
    border-radius: 15px;
    text-align: center;        
    display: flex;
  }

  .right-side p{
    font-weight: bold;
    font-size: 20px;
  }

